<div class="container-fluid d-flex flex-wrap p-0 m-0 w-100 h-100 justify-content-center">
  <div class="container smart-container m-3 p-0 bg-secondary">
  </div>
  <div class="container smart-container m-3 p-0 bg-dark">
  </div>
  <div class="container smart-container m-3 p-0 bg-dark">
  </div>
  <div class="container smart-container m-3 p-0 bg-secondary">
  </div>
</div>


<%= stylesheet_pack_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload'  %>
